* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;

}

header {
    width: 100%;
    height: 75px;
    background: #ffffff;


    .container-header {
        width: 100%;
        height: 70px;
        display: flex;

        .menu {
            width: 70%;
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            height: 70px;
            position: relative;

            >ul {
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                color: rgb(49, 117, 177);

                >li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 70px;
                    line-height: 20px;

                    &:hover {

                        >.submenu {

                            display: block;
                            opacity: 1;
                            z-index: 1000;
                            visibility: visible;
                        }
                    }

                    >a {
                        width: 100%;
                        text-transform: uppercase;
                        color: rgb(101, 188, 188);
                        justify-content: space-around;
                        display: flex;
                        align-items: flex-start;
                        font-size: 18px;
                        margin: 100px auto;
                        font-family: "Kanit", sans-serif;
                        font-weight: 500;
                        font-style: normal;
                        &:hover {
                            color: rgb(122, 126, 122);
                        }

                    }
                }

            }

            .submenu {
                width: 30%;
                height: 0;
                opacity: 0;
                visibility: hidden;
                transition: 1s;
                margin-top: 62px;
                position: absolute;

                >li {

                    width: 100%;
                    height: 50px;
                    background-color: rgb(247, 243, 243);
                    border-bottom: 1px solid gray;
                    color: aliceblue;


                    >a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        color: rgb(194, 132, 132);
                        text-transform: uppercase;
                        font-family: "Kanit", sans-serif;
                        font-weight: 300;
                        font-style: normal;

                        &:hover {

                            color: rgb(32, 19, 19);

                        }
                    }

                }

            }
        }

    }

}

.logo {
    width: 100%;
    height: 100px;
    margin-left: 555px;
    margin-top: 20px;

}

.headtop {
    width: 100%;
    height: 300px;
    background-image: url(../img/pic5.jpg);
    color: #0d7271;

    >h2 {
        margin-left: 555px;
        padding-top: 50px;
    }

    >h5 {
        font-size: 30px;
        padding-left: 350px !important;
    }

}

.footer {
    width: 100%;
    height: 200px;

    background-color: rgb(36, 33, 33);
    display: flex;


    // position: relative;
    // overflow: hidden;
    >figure {
        width: 30%;

        margin-left: 100px;

        // position: absolute;
        >img {
            width: 200px;
            height: 180px;
            border-radius: 70px;
            object-fit: cover;
            margin-top: 10px;

        }
    }

    >div {
        width: 70%;

        >div {
            font-size: 20px;
            height: 50px;
            color: antiquewhite;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-transform: capitalize;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;

            >a {
                display: flex;

                &:nth-of-type(1) {
                    font-size: 20px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    text-transform: capitalize;
                    text-decoration: none;
                    color: whitesmoke;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


    }
}


.media {
    margin-left: 80px;

    >a {
        font-size: 30px;
        color: white;

        >i {
            color: white;
            font-size: 30px;
            margin: 5px;
        }

    }
}